form{
    width: 400px;
    height: 200px;
    background-color: darkslategray;
    margin: auto;
    margin-top: 120px;
    border-radius: 15px;
    border: solid rgb(25, 43, 43) 3px;
}
#dato{
    width: 234px;
    height: 35px;
    font-size: 28px;
    margin: 35px 75px 20px;
    padding-left: 10px;
    border-radius: 30px;
    border-color: rgb(25, 43, 43);
}
#dato1{
    margin: 0px 110px;
    width: 180px;
    height: 30px;
    padding-left: 35px;
    border-radius: 20px;
    border-color: rgb(25, 43, 43);
}
#boton{
    width: 100px;
    height: 30px;
    margin: 20px 150px;
    border-radius: 40px;
    border-color: rgb(25, 43, 43);
}
.result{
    background-color: rgb(137, 158, 158);
    border: solid 3px;
    font-size: 40px;
    width: 282px;
    margin: auto;
    border-color: rgb(25, 43, 43);
    border-radius: 30px;
    padding: 0px 18px;
}
@media screen and (max-width: 720px) {

    form{
        width: 200px;
        height: 100px;
        background-color: darkslategray;
        margin: auto;
        margin-top: 60pxpx;
        border-radius: 15px;
        border: solid rgb(25, 43, 43) 3px;
    }
    #dato{
        width: 117px;
        height: 17.5px;
        font-size: 14px;
        margin: 17.5px 37.5px 10px;
        padding-left: 5px;
        border-radius: 30px;
        border-color: rgb(25, 43, 43);
    }
    #dato1{
        margin: 0px 30px;
        width: 140px;
        height: 17px;
        padding-left: 12px;
        border-radius: 20px;
        border-color: rgb(25, 43, 43);
    }
    #boton{
        width: 60px;
        height: 20px;
        margin: 5px 70px;
        border-radius: 40px;
        border-color: rgb(25, 43, 43);
    }
    .result{
        background-color: rgb(137, 158, 158);
        border: solid 3px;
        font-size: 20px;
        width: 141px;
        margin: auto;
        border-color: rgb(25, 43, 43);
        border-radius: 30px;
        padding: 0px 9px;
    }

}